.image-wrapper {
    opacity: 0;
    overflow: clip;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transform: translateY(30px);
    transition: opacity 1s ease-out, transform 1s ease-out;
    will-change: opacity, transform;
}
.image-wrapper.animate {
    opacity: 1;
    transform: translateY(0);
}
.image-wrapper img {
    width: 100%;
    height: auto;
    display: block;
}
.image-placeholder {
    display: flex;
    width: 100%;
    aspect-ratio: 1;
}
