.navigator-background {
    position: absolute;
    inset: 4.3% 7.35% 13.8% 7.25%;
    overflow: hidden;
}
.chevron-wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.2s ease;
    will-change: opacity;
    z-index: 5;

    & > svg {
        width: 100%;
    }

    &:hover {
        opacity: 0.8 !important;
    }

    &:active {
        opacity: 0.4 !important;
    }
}
.chevron-wrapper.mob {
    width: 16%;
    padding: 30% 2%;

    &.prev {
        left: 7.2%;
    }

    &.next {
        right: 7.2%;
    }
}
.chevron-wrapper.web {
    width: 7%;
    padding: 12% 1%;

    &.prev {
        left: 7.3%;
    }

    &.next {
        right: 7.4%;
    }
}
.chevron-wrapper.hidden {
    opacity: 0 !important;
    cursor: default;
    pointer-events: none;
}
.carrousel {
    position: relative;

    &:hover .chevron-wrapper {
        opacity: 0.5;
        transition: opacity 0.3s ease;
    }
}
.carrousel.mob {
    height: 80vh;
    aspect-ratio: 293 / 581;
    width: fit-content;
}
.image-mask {
    position: absolute;
    overflow: hidden;
}
.image-mask.mob {
    inset: 3% 7%;
    border-radius: 12% / 6%;
}
.image-mask.web {
    inset: 12.3% 7.35% 13.8% 7.25%;
}
.screenshot-placeholder {
    position: absolute;
    inset: 0;
    padding: 5px;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: var(--font-size-s);
    color: var(--white);
    line-height: var(--line-height-normal);
    user-select: none;
    opacity: 0;
    transition: opacity 0.8s ease;
    will-change: opacity;

    &:hover {
        opacity: 1;
        transition: opacity 0.2s ease;
    }
}
