.computer-container {
    position: relative;

    &:hover .computer-chevron-wrapper {
        opacity: 0.9;
        transition: opacity 0.3s ease;
    }
}
.screenshot-image-mask {
    position: absolute;
    inset: 23px 59px 72px 58px;
    overflow: hidden;
}
.computer-chevron-wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    padding: 40px 14px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.1s ease;
    will-change: opacity;
    z-index: 5;

    &.prev {
        left: 35px;
    }

    &.next {
        right: 36px;
    }
}

