.phone-container {
    height: 80dvh;
    aspect-ratio: 293 / 581;
    position: relative;

    &:hover .chevron-wrapper {
        opacity: 0.9;
        transition: opacity 0.3s ease;
    }
}
.image-mask {
    position: absolute;
    inset: 19px 22px;
    border-radius: 30px;
    overflow: hidden;
}
.chevron-wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    padding: 40px 14px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.1s ease;
    will-change: opacity;
    z-index: 5;

    &.prev {
        left: 0;
    }

    &.next {
        right: 0;
    }
}

