.section-title {
    grid-column: 1 / -1;
    margin: 8rem 0 3rem;
}
.title-background {
    font-size: var(--font-size-xl);
    font-family: Playfair-Medium, sans-serif;
    color: var(--grey-dark);
    text-align: right;
    padding-right: 0.5rem;
    user-select: none;
}
.main-title-wrapper {
    display: grid;
    grid-template-columns: 1fr min(95vw, 800px) 1fr;

    & > svg {
        position: absolute;
        margin-top: calc(var(--font-size-l) - 60px);
    }
}
.overflowed-line {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid var(--blue-light);
}
h2 {
    grid-column: 2;
    font-size: var(--font-size-l);
    font-family: ArchivoExpanded-Black, sans-serif;
    color: var(--white);
    text-decoration-line: underline;
    text-decoration-color: var(--blue-light);
    text-decoration-thickness: 1px;

    & > span {
        font-family: ArchivoExpanded-Light, sans-serif;
        color: var(--blue-light);
    }
}
