.header-bar {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid var(--blue-light);
    border-radius: 0;
    transition: top 0.3s ease, width 0.3s ease, border-radius 0.3s ease, border-bottom-width 0.1s ease;
    overflow: hidden;
}
.header-bar::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: #1A2D30;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.header-bar.scrolled {
    top: 16px;
    width: min(90vw, 40rem);
    border-bottom-width: 0;
    backdrop-filter: blur(10px);
    border-radius: 4.2% / 50%;

    &::before {
        opacity: 0.5;
    }
}
.blurred-background {
    position: absolute;
    z-index: -1;
    top: -4px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}
nav li {
    position: relative;
    font-size: var(--font-size-m);
    font-family: ArchivoExpanded-Regular, sans-serif;
    color: var(--white);
    padding: 1rem 0.6rem;
    margin: 0 10px;
    text-decoration-line: underline;
    text-decoration-color: transparent;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
    cursor: pointer;
    transition: text-decoration-color 0.3s ease;
    overflow: hidden;

    &:hover {
        text-decoration-color: var(--blue-light);
    }

    &:hover .blurred-background {
        opacity: 1;
    }

    @media (width <= 600px) {
        font-size: var(--font-size-m);
        margin: 0;
    }
}
