.phone-projects-container {
    grid-column: 2;
    display: flex;
    flex-direction: row;
    gap: 2rem;

    @media (width <= 767px) {
        flex-direction: column;
        align-items: center;
    }
}
.phone-projects {
    display: grid;
    grid-template-columns: 1fr;
    height: fit-content;
    gap: 1rem;

    @media (width >= 600px) and (width <= 767px) {
        grid-template-columns: 1fr 1fr;
    }
}
.web-projects-container {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 60px;
}
.web-projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    @media (width <= 600px) {
        grid-template-columns: 1fr;
    }
}
.chevron-fade-in {
    & > .chevron-wrapper {
        opacity: 0.5;
    }
}
