main {
    display: flex;
    width: 100%;
    height: 100dvh;
    justify-content: center;
    padding-bottom: 80px;
    overflow-x: clip;
}
.main-container {
    display: grid;
    grid-template-columns: 1fr min(95vw, 800px) 1fr;
    height: 100%;
}
.main-container > * {
    grid-column: 2;
}
